.footer {
	background-color: #000;
}

.footer__container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	padding-top: 50px;
	padding-bottom: 45px;
}

.footer__logo {
	display: block;
	margin-right: auto;
}

.footer__social {
	margin-bottom: 20px;
	margin-top: -10px;
}

.social {
	display: flex;
	flex-flow: row wrap;
	padding: 0;

	list-style-type: none;
}

.social__list-item {
	border-radius: 50%;
}

.social__list-item:not(:last-child) {
    margin-right: 30px;
}

.social__link {
    display: block;
    width: 60px;
	height: 60px;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: 100%;

	transition: opacity 0.2s ease, box-shadow 0.2s ease-in;
}

.social__link:focus {
	box-shadow: rgb(121, 67, 164) 0 0 0 4px;
}

.social__link:active {
	opacity: 0.4;
}

.social__link_vk {
	background-image: url("../img/vk.svg");
}

.social__link_instagram {
	background-image: url("../img/instagram.svg");
}

.social__link_facebook {
	background-image: url("../img/facebook.svg");
}
