@media (min-width: 1200px) {
	.header__burger {
		display: none;
	}

	.header__logo {
		margin-left: 0;
	}

	.header__nav {
		position: static;
		display: flex;
		flex-flow: row wrap;
		align-content: baseline;
		justify-content: center;
		width: 78%;
		height: auto;
		z-index: auto;
		transform: none;
	}

	.nav {
		padding: 0;
		padding-top: 5px;
	}

	.nav__close {
		display: none;
	}

	.nav__navlist {
		margin-right: 31px;
	}

	.navlist {
		display: flex;
		width: auto;
		margin-bottom: 0;
	}

	.navlist__item:not(:last-child) {
		margin-right: 31px;
	}

	.navlist__link {
		font-size: 18px;
		line-height: 25px;
	}

	.navlist__link:hover {
		color: #C283F3;
	}

	.nav__enter-link {
		padding: 0;
		padding-left: 20px;
		border: none;
		max-width: 257px;

		background-position: left 10px;
		background-size: 13px 13px;
		font-size: 18px;
		line-height: 30px;
	}

	.nav__enter-link:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 9 9' fill='%23C283F3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.545 6.295L4.25 7L6.75 4.5L4.25 2L3.545 2.705L4.835 4H0V5H4.835L3.545 6.295ZM8 0H1C0.445 0 0 0.45 0 1V3H1V1H8V8H1V6H0V8C0 8.55 0.445 9 1 9H8C8.55 9 9 8.55 9 8V1C9 0.45 8.55 0 8 0Z' fill='%23C283F3'/%3E%3C/svg%3E");
		color: #C283F3;
	}

	.header__desktop-fixed-menu {
		width: 100%;

		background: rgba(0, 0, 0, 0.4);
		z-index: 10;
	}

	.header__desktop-fixed-menu-container {
		display: flex;
		margin: 0 auto;
		padding: 22px 50px 16px;
		max-width: 1704px;
	}

	.header__menu-style {
		display: flex;
		align-items: center;
		margin: 0 auto 0 0;
		padding: 0;

		list-style-type: none;
	}

	.menu-style__item:not(:last-child) {
		margin-right: 65px;
	}

	.menu-style__button:hover {
		color: #9D5CD0;
	}

	.menu-style__button:hover::after {
		border-color: #9D5CD0;
	}

	.menu-style__style-list-container:hover
	.simplebar-track.simplebar-vertical
	.simplebar-scrollbar::before {
		background-color: #9D5CD0;
	}

	.style-list__link:hover::after,
	.style-list__link:focus::after {
		border-color: #9D5CD0;
	}

	.section-hero__slider {
		top: -70px;
		height: calc(100% + 70px);
	}
}

@media (min-width: 1366px) {
	.header__search {
		position: static;
		padding: 0;
		width: auto;

		background: transparent;
		transform: none;
	}

	.header__search-button {
		display: none;
	}

	.nav__navlist {
		margin-right: auto;
	}

	.navlist__item:not(:last-child) {
		margin-right: 62px;
	}

	.search__button {
		padding: 25px 16px 17px;
		margin-right: 4px;
		width: 20px;
		height: 20px;

		background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E ");
	}

	.search__input {
		min-width: 218px;
		font-size: 18px;
		line-height: 25px;
		padding-top: 5px;
		padding-left: 0;
		height: 88%;
	}

	.search__input:hover {
		border-color: #C283F3;
	}

	.search__input:hover + .search__button {
		filter: brightness(0) saturate(100%) invert(71%) sepia(21%) saturate(7473%) hue-rotate(221deg) brightness(97%) contrast(96%);
	}

	.search__button:hover {
		filter: brightness(0) saturate(100%) invert(71%) sepia(21%) saturate(7473%) hue-rotate(221deg) brightness(97%) contrast(96%);
	}

	.search__input::placeholder {
		color: rgba(255, 255, 255, 0.85);
	}

	.menu-style__item:not(:last-child) {
		margin-right: 93px;
	}

	.section-hero {
		min-height: 630px;
	}

	.section-hero__container {
		padding: 70px 75px 0 50px;
	}

	.section-hero__heading {
		margin-bottom: 20px;

		font-size: 72px;
		line-height: 82px;
	}

	.section-hero__description {
		margin-bottom: 95px;
		max-width: 585px;
	}

	.subscribe-btn:hover {
		box-shadow: inset #D1A9F0 0px 0px 0px 3px;
	}

	.header__desktop-fixed-menu-container {
		padding: 17px 50px 11px;
	}

	.section-gallery__container {
		height: 995px;
	}

	.section-gallery__filter {
		max-width: 400px;
		margin-right: 50px;
	}

	.section-gallery__slider {
		margin: 0;
		padding-bottom: 80px;
		/* width: 1155px; */
		width: 734px;
	}

	.gallery-slider__slide {
		height: 350px;
		max-width: 350px;
	}

	.gallery-slider__slide:hover::after {
		opacity: 1;
	}

	.gallery-slider__button:hover {
		background-color: #9D5CD0;
	}

	.section-gallery__footnote {
		max-width: 350px;
	}

	.section-gallery__link:hover {
		border-color: #9D5CD0;
	}

	.gallery__modal-content {
		max-width: 900px;
		height: 500px;
	}

	.main__section-catalogue {
		margin-bottom: 32px;
	}

	.section-catalogue__locale-list {
		padding-top: 6px;
	}

	.locale-list__button:hover {
		filter: drop-shadow(0px 0px 10px rgba(157, 92, 208, 0.7));
	}

	.catalogue-tabs {
		flex-flow: row nowrap;
	}

	.catalogue-tabs__person {
		margin-right: 50px;
		width: 46.7588%;
	}

	.catalogue-tabs__accordion {
		width: 49.74%;
		order: 2;
	}

	.times-accordion__list {
		width: 97%;

		column-count: 3;
		column-gap: 0;
	}

	.times-accordion__item:hover + .times-accordion__item {
		border-top-color: transparent;
	}

	.times-accordion__item:hover .times-accordion__text {
		color: #9D5CD0;
	}

	.times-accordion__item:hover .times-accordion__button {
		background-color: #9D5CD0;
	}

	.times-accordion__item:hover .times-accordion__button::before {
		border-color: #fff;
	}

	.times-accordion__item:hover {
		border-color: #9D5CD0;
	}

	.person-list__item:last-child {
		margin-bottom: 20px;
	}

	.person-list__btn:hover {
		color: #9D5CD0;
		box-shadow: inset 0 -1px #9D5CD0;
	}

	.section-events__list {
		margin-bottom: 17px;
	}

	.events-cards__card {
		width: 31.2%;
		min-width: 389px;
		max-width: 500px;
	}

	.events-cards__img {
		height: 300px;
	}

	.events-cards__card:not(:nth-child(3n)) {
		margin-right: 3.11%;
	}

	.events-cards__card:nth-last-child(-n+2) {
		margin-bottom: 0;
	}

	.events-cards__card-container {
		padding-top: 10px;
		padding-right: 18px;
		padding-left: 50px;
		padding-bottom: 45px;

		min-height: 400px;
	}

	.events-cards__description {
		max-width: 400px;
	}

	.events-cards__link:hover {
		font-weight: 700;
	}

	.section-publications__desktop-column-left {
		width: 28.5%;
	}

	.section-publications__desktop-column-right {
		width: auto;
	}

	.categories__label {
		padding: 0;
	}

	.categories__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.categories__label:hover .categories__text {
		color: #7943A4;
	}

	.section-publications__price {
		margin-bottom: 30px;
		margin-left: 4px;
	}

	.section-publications__slider-container {
		width: 738px;
		padding-top: 95px;
		padding-left: 0;
		margin-left: -7px;
		margin-right: 0;
	}

	.publications-slider__slide {
		max-width: 350px;
	}

	.publications-slider__img {
		margin-bottom: 25px;
		width: 100%;
	}

	.publications-slider__price {
		width: 40%;
		text-align: right;
	}

	.publications-slider__pagination-button:hover {
		background-color: #9D5CD0;
	}

	.publications-slider__button:hover {
		background-color: #9D5CD0;
	}

	.tooltip__outer {
		bottom: 150%;
	}

	.tooltip__outer::after {
		display: block;
	}

	.partners-slider {
		width: 1000px;
	}

	.partners-slider__button {
		top: 39%;
	}

	.partners-slider__slide {
		padding: 36px 18px 8px;
		height: 150px;
	}

	.partners-slider__img {
		max-height: 66px;
	}

	.section-projects__link:hover {
		border-color: #9D5CD0;
	}

	.partners-slider__button:hover {
		background-color: #9D5CD0;
	}

	.section-contacts__address-feedback {
		width: 35.5%;
	}

	.address-feedback {
		padding: 122px 30px 104px 30px;
	}

	.section-contacts__map-outer {
		width: 64.5%;
		height: 700px;
		margin-bottom: 0;
		order: 2;
	}

	.address-feedback__form {
		margin-bottom: 25px;
	}

	.feedback-form__button {
		width: 39%;
	}

	.feedback-form__button:hover {
		background-color: #9D5CD0;
		color: #fff;
	}

	.feedback-form__button:active {
		color: #fff;
	}

	.contacts__link {
		width: 40px;
		height: 40px;
	}

	.contacts__link:hover {
		box-shadow: #D1A9F0 0 0 0 4px;
	}

	.footer__social {
		margin-top: 0;
	}

	.social__list-item:not(:last-child) {
		margin-right: 25px;
	}

	.social__link {
		width: 42px;
		height: 42px;
	}

	.social__link:hover {
		box-shadow: rgb(121, 67, 164) 0 0 0 4px;
	}
}

@media (min-width: 1700px) {
	.section-gallery__slider {
		width: 1155px;
	}

	.partners-slider {
		width: 1450px;
	}

	.section-publications__slider-container {
		width: 1150px;
	}

	.section-contacts__heading-container {
		max-width: none;
	}

	.section-contacts__heading {
		margin: 0 auto;
	}

	.address-feedback {
		padding-left: 142px;
		padding-right: 40px;
	}

	.address-feedback__form {
		padding-right: 80px;
	}
}
