.section-events__heading {
	margin-left: -3px;
	margin-bottom: 17px;
}

.section-events__slider-container {
	margin: 0 auto;
	overflow: hidden;
}

.events-cards {
	display: flex;
	flex-flow: row wrap;
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 0;
	box-sizing: border-box;

	list-style-type: none;
}

.events-cards__card {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
	min-width: 290px;

	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 202px;

	animation: fade-in 600ms;
}

.events-cards__img {
	width: 100%;
	height: 200px;
}

.events-cards__card-container {
	display: flex;
	flex-direction: column;
	padding: 15px 10px 50px 28px;
	margin-bottom: -2px;
	min-height: 483px;
	border: 1px solid #CACACA;
	border-top: none;
}

.events-cards__location-time {
	margin-top: 0;
	margin-bottom: 5px;

	color: #999999;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
}

.events-cards__location {
	display: block;
}

.events-cards__heading {
	margin-top: 0;
	margin-bottom: 14%;

	color: #333333;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
}

.events-cards__description {
	margin-top: 0;
	margin-bottom: auto;
}

.events-cards__link {
	position: relative;
	min-width: 100px;
	align-self: flex-start;

	color: #9D5CD0;
	line-height: 1.5;

	outline: none;
	transition: color 0.15s ease-in, font-weight 0.15s ease-in;
}

.events-cards__link::after {
	content: "";
	position: absolute;
	display: block;
    border-bottom: 1px solid #9d5cd0;
    width: 90px;
}

.events-cards__link:focus {
	outline: 2px solid #7943A4;
}

.events-cards__link:active {
	color: #7943A4;
}

.section-events__btn {
	display: block;
	padding: 15px 25px;
	margin: 0 auto;
	border: 2px solid #9D5CD0;
	border-radius: 100px;
	width: 188px;

	background: transparent;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #9D5CD0;

	cursor: pointer;
	outline: none;
	transition: color 0.2s ease-in, background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.section-events__btn:focus,
.section-events__btn:hover {
	background-color: #9D5CD0;
	color: #fff;
}

.section-events__btn:active {
	box-shadow: inset #D1A9F0 0 0 0 2px;
	color: #fff;
}

.section-events__bullets-container {
	display: none;
}

.section-events__bullet {
	display: block;
	width: 10px;
	height: 10px;
	padding: 0;
	margin-right: 15px;
	border: none;
	border-radius: 50%;

	background-color: #CACACA;;
	cursor: pointer;
}

.section-events__bullet:last-child {
	margin-right: 0;
}

.section-events__bullet_active {
	background-color: #666666;
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
