.section-about__container {
	padding-top: 80px;
}

.section-about__heading {
	margin-bottom: 17px;
}

.section-about__description {
	margin: 0;
	padding-left: 2px;
	max-width: 1080px;

	font-size: 16px;
	line-height: 32px;
	color: #333333;
}
