.section-contacts__container {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	max-width: none;
}

.section-contacts__heading {
	padding: 0;
	margin-bottom: 15px;
	margin-left: -3px;
	width: 100%;
}

.address-feedback {
	border: 1px solid #CACACA;
	padding: 122px 10px 104px 35px;
}

.address-feedback__address {
	padding: 0 13px;
	margin-bottom: 28px;

	font-size: 16px;
	font-style: normal;
	line-height: 32px;
	color: #333333;
}

.address-feedback__title {
	margin: 0;

	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}

.section-contacts__map-outer {
	width: 100%;
	margin-bottom: 23px;
	overflow-x: hidden;
}

.section-contacts__map-inner {
    height: 100%;
}

.section-contacts__map {
	height: 100%;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}

[class*="copyrights-pane"] {
	display: none;
}

[class*="controls__control"] {
	display: none;
}

.address-feedback__form {
	padding: 0 14px;
}

.feedback-form__title {
	margin-top: 0;
	margin-bottom: 0;

	color: #333333;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;

	transition: color 0.2s ease-in;
}

.feedback-form__title_success {
	color: #008000;
}

.feedback-form__title_error {
	color: #ff0000;
}

.feedback-form {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 11px;
}

.feedback-form__input {
	margin-bottom: 5px;
	padding: 10px 25px;
	border: 1px solid #333333;
	border-radius: 100px;
	width: 100%;

	color: #999999;
	font-size: 16px;

	transition: border-color 0.2s ease-in;
}

.feedback-form__input_error {
	border-color: #ff0000;
}

.feedback-form .feedback-form__input:last-of-type {
	margin-bottom: 20px;
}

.feedback-form__button {
	padding: 16px 30px;
	width: 47%;
	border: 2px solid #9D5CD0;
	border-radius: 100px;

	background: transparent;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	text-align: center;
	color: #9D5CD0;

	outline: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
}

.feedback-form__button:focus {
	background-color: #9D5CD0;
	color: #fff;
}

.feedback-form__button:active {
	box-shadow: inset #D1A9F0 0 0 0 2px;
}

.address-feedback__contacts {
	padding: 0 14px;
}

.contacts__title {
	margin-top: 0;
	margin-bottom: 15px;

	color: #333333;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.contacts__links-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.contacts__list-item {
	border-radius: 50%;
}

.contacts__list-item:not(:last-child) {
    margin-right: 20px;
}

.contacts__link {
    display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: 100%;

	outline: none;
	transition: opacity 0.2s ease, box-shadow 0.2s ease-in;
}

.contacts__link:focus {
	box-shadow: #D1A9F0 0 0 0 4px;
}

.contacts__link:active {
	opacity: 0.4;
}

.contacts__link_whatsapp {
	background-image: url("../img/whatsapp.svg");
}

.contacts__link_telegram {
	background-image: url("../img/telegram.svg");
}

.address-feedback__address_mobile {
	display: none;
}

.feedback-form__label {
	margin: 0;
	opacity: 0;

	color: #ff0000;
	font-size: 12px;
	line-height: 1.5;

	transition: opacity 0.15s ease-in;
}

.feedback-form__label_visible {
	opacity: 1;
}
