.section-publications {
	background-image: url("../img/publications/publications-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}

.section-publications__container {
	display: flex;
	flex-flow: row wrap;
	padding-top: 80px;
	padding-bottom: 25px;
}

.section-publications__heading {
	margin-left: -3px;
	margin-bottom: 15px;

	color: #fff;
}

.section-publications__categories {
	margin-bottom: 28px;
}

.categories__title {
	display: flex;
	position: relative;
	padding: 0;

	font-weight: bold;
	color: #fff;
}

.categories__top-label {
	margin-right: auto;
}

.categories__expand-btn {
	display: none;
	width: 16px;
	padding: 0;
	border: none;

	background-color: transparent;
}

.categories__expand-btn::before {
	content: '';
    position: absolute;
    right: 4px;
    top: 30%;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
	transition: transform, 0.2s ease-in-out;
}

.categories__expand-btn::after {
	content: '';
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.categories__expand-btn_active::before {
	transform: rotate(-222deg);
}

.categories__col:first-child {
	margin-right: 57px;
}

.categories__col:nth-child(2) {
	margin-right: 52px;
}

.categories__label {
	position: relative;
	display: flex;
	padding-top: 2px;
	padding-bottom: 4px;

	cursor: pointer;
	outline: none;
	animation: fade-in 600ms;
}

.categories__text {
	padding-left: 1.5em;

	color: #fff;
	transition: color 0.2s ease-in-out;
}

.categories__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.categories__checkbox {
	position: absolute;
	top: 35%;
	width: 12px;
	height: 12px;

	border: 1px solid #999999;
}

.categories__checkbox::after {
	content: "";
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 4px;
	height: 4px;
	border-radius: 50%;

	background-color: #C283F3;
}

.categories__input:checked + .categories__text {
	color: #C283F3;
}

.categories__input:checked + .categories__checkbox {
	border-color: #C283F3;
}

.categories__input:checked + .categories__checkbox::after {
	display: block;
}

.categories__input:checked + .categories__checkbox + .categories__text {
	color: #C283F3;
}

.categories__input:checked + .categories__checkbox + .categories__text::before,
.categories__input:checked + .categories__checkbox + .categories__text::after {
	display: block;
}

.categories__input:focus + .categories__checkbox + .categories__text {
	outline: 2px solid #7943A4;
}

.categories__input:disabled + .categories__checkbox {
	background-color: #646464;
}

.section-publications__slider-container {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.publications-slider__buttons-pagination-container {
	display: flex;
	position: absolute;
	top: 15px;
	left: -5px;
}

.section-publications__price {
	margin-bottom: 30px;
	margin-left: 4px;
	max-width: 291px;
}

.price__title {
	margin-top: 0;
	margin-bottom: 5px;

	color: #fff;
	font-size: 16px;
	line-height: 32px;
}

.price__container {
	padding: 0 10px;
	width: 95.5%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 6px;

	color: #fff;
	word-spacing: 5.4px;
}

.price__input {
	width: 73px;
	min-height: 40px;
	border: none;

	background-color: rgba(157, 92, 208, 0.5);
	color: #fff;
	text-align: center;
}

.publications-slider {
	display: flex;
}

.publications-slider__buttons-pagination-container {
	display: flex;
	justify-content: center;
	margin: 20px auto 0;
	min-width: 130px;
}

.publications-slider__pagination {
	width: auto;

	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
}

.publications-slider__pagination-button {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	border: 0px;
	border-radius: 50%;

	background-color: #666666;

	cursor: pointer;
	outline: none;
	transition: transform 0.2s ease-in-out, box-shadow 0.15s ease-in, background-color 0.15s ease-in;
}

.publications-slider__pagination-button::before {
	content: '';
    position: absolute;
	width: 8px;
	height: 8px;
	left: 37%;

	border: 1px solid #fff;
	border-top: none;
	border-right: none;

	transition: border-color 0.15s ease-in;
}

.publications-slider__pagination-button:focus {
	background-color: #ECECEC;
	box-shadow: inset #7943A4 0px 0px 0px 2px;
}

.publications-slider__pagination-button:focus::before {
	border-color: #000;
}

.publications-slider__pagination-button:active {
	background-color: #9D5CD0;
	box-shadow: inset #D1A9F0 0px 0px 0px 2px;
}

.publications-slider__pagination-button:active::before {
	border-color: #fff;
}

.publications-slider__button_prev {
	margin-right: 13px;
}

.publications-slider__button_next {
	margin-left: 13px;
}

.publications-slider__button_prev::before {
	top: 35%;

	transform: rotate(45deg);
}

.publications-slider__button_next::before {
	top: 35%;

	transform: rotate(-135deg);
}

.publications-slider__title {
	margin-top: -3px;
	margin-bottom: 0;
	overflow: hidden;

	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.publications-slider__slide {
	display: flex;
	flex-flow: row wrap;
	max-width: 350px;
	margin-bottom: 0;
}

.publications-slider__slide:nth-child(odd) {
	margin-right: 10%;
	margin-bottom: 50px;
}

.publications-slider__slide:nth-last-child(-n+2) {
	margin-right: 0;
	margin-bottom: 0;
}

.publications-slider__title-author {
	margin-right: auto;
	margin-bottom: 15px;
	max-width: 150px;
}

.publications-slider__author {
	margin-top: 0;
	margin-bottom: 3px;
	overflow: hidden;

	color: #fff;
	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.publications-slider__price {
	margin-top: 0;

	font-style: italic;
	font-size: 16px;
	line-height: 22px;

	color: #FFFFFF;
}

.publications-slider__button {
	display: block;
	padding: 10px 0;
	min-width: 118px;
	border: 2px solid #9D5CD0;
	border-radius: 100px;

	background: transparent;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;

	cursor: pointer;
	outline: none;
	transition: background-color 0.2s ease, box-shadow 0.2s ease-in;
}

.publications-slider__button:focus {
	background-color: #9D5CD0;
}

.publications-slider__button:active {
	box-shadow: inset #D1A9F0 0 0 0 2px;
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
